# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local*
frontend/node_modules
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.choreo
# Python 缓存文件
__pycache__/
migrations/
# macOS 系统文件
Python/Django 相关
*.pyc
*.pyo
*.pyd
venv/
*.egg-info/
dist/
build/
*.log
*.sqlite3
migrations/

# Node.js/React 相关
node_modules/
dist-ssr/
frontend/build/

# 编辑器和 IDE 相关
.vscode/*
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# 系统文件
.DS_Store
._*

# 其他
*.swp
*.bak